main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.tex
stanford_sop.aux
stanford_sop.fdb_latexmk
stanford_sop.fls
stanford_sop.log
stanford_sop.out
stanford_sop.pdf
stanford_sop.tex
ucberkeley_publications.aux
ucberkeley_publications.fdb_latexmk
ucberkeley_publications.fls
ucberkeley_publications.log
ucberkeley_publications.out
ucberkeley_publications.pdf
ucberkeley_publications.tex
ucberkeley_sop.aux
ucberkeley_sop.fdb_latexmk
ucberkeley_sop.fls
ucberkeley_sop.log
ucberkeley_sop.out
ucberkeley_sop.pdf
ucberkeley_phs.aux
ucberkeley_phs.fdb_latexmk
ucberkeley_phs.fls
ucberkeley_phs.log
ucberkeley_phs.out
ucberkeley_phs.pdf
uwashington_sop.aux
uwashington_sop.fdb_latexmk
uwashington_sop.fls
uwashington_sop.log
uwashington_sop.out
uwashington_sop.pdf
epfl_sop.aux
epfl_sop.fdb_latexmk
epfl_sop.fls
epfl_sop.log
epfl_sop.out
epfl_sop.pdf
cmu_sop.aux
cmu_sop.fdb_latexmk
cmu_sop.fls
cmu_sop.log
cmu_sop.out
cmu_sop.pdf
caltech_sop.aux
caltech_sop.fdb_latexmk
caltech_sop.fls
caltech_sop.log
caltech_sop.out
caltech_sop.pdf
neu_sop.aux
neu_sop.fdb_latexmk
neu_sop.fls
neu_sop.log
neu_sop.out
neu_sop.pdf
harvard_ps.aux
harvard_ps.fdb_latexmk
harvard_ps.fls
harvard_ps.log
harvard_ps.out
harvard_ps.pdf
harvard_sop.aux
harvard_sop.fdb_latexmk
harvard_sop.fls
harvard_sop.log
harvard_sop.out
harvard_sop.pdf
penn_sop.aux
penn_sop.fdb_latexmk
penn_sop.fls
penn_sop.log
penn_sop.out
penn_sop.pdf
